@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
/*The body code now lets the background be completely stars, so we no longer need to cheese the footer background */
body{
    background-color: #6c896f;
}
section{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*The footer has that padding so that it gives enough space between it and other content on the page*/
footer{
    margin-top: auto;
    padding-top: 10vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #5500a9;
  border-radius: 25px;
  text-align: center;
}

ul li a {
  display: inline-block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
  text-align: center;
}

ul li a:hover {
  background-color: #7100e2;
}

h2{
    font-size: 2em;
    color: #ffffff;
    text-align: center;
}
h3{
    font-size: 1em;
    color: #ffffff;
    text-align: center;
}
h4{
    font-size: 1em;
    color: #ffffff;
    text-align: bottom;
}
